body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

/* Style pour la navigation */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 1rem; /* Espacement entre les boutons */
}

nav ul li {
    display: inline-block;
}

/* Style des boutons */
nav ul li button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    background-color: #007BFF; /* Couleur par défaut */
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Effet de transition */
}

nav ul li button:hover {
    background-color: #0056b3; /* Couleur au survol */
}


header {
    background: #333;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

main {
    padding: 2rem;
    text-align: center;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}



